SPORTWIZZARD_API_KEY=sw_live_replace_me
VEGAS_INGEST_SECRET=replace_with_a_long_random_value
SPORTWIZZARD_API_URL=https://api.sportwizzard.com/api/v1/odds
VEGAS_MIN_BOOKS=2
VEGAS_MIN_QUOTES=10
VEGAS_MIN_PLAYERS=5
VEGAS_MIN_MARKETS=2
VEGAS_MAX_PAGES=50
VEGAS_PAGE_DELAY_MS=0
VEGAS_REQUEST_TIMEOUT_MS=20000
